.navBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.homeImg {
  /* margin-left: 12rem; */
  cursor: pointer;
  width: 30%;
  padding-left: 5vw;
}

.liBox {
  /* position: relative; */
  display: flex;
  list-style-type: none;
  gap: 2vw;
  padding-right: 5vw;
  /* margin-right: 15rem; */
}
.liBox li {
  font-size: 3vw;
  font-weight: 400;
  color: black;
  cursor: pointer;
}