.profileImg {
  margin-top: 2vh;
  width:  100%;
  height: 10rem;
  border-radius: 50%;

  @media (max-width: 450px) {
    width: 100%;
    height: 4rem;
  }
}

.detailImg {
  width: 5vw;
  height: 5vh;

  @media (max-width: 450px) {
    height: 3vh;
  }
}